{% extends 'djangonews/base.html' %}

{% block title %}{{ day|date:"l, N j, Y" }}{% endblock %}

{% block content %}
<div id="breadcrumbs">
  {% include "djangonews/includes/bread-home.html" %} |  
  {% include "djangonews/includes/bread-index.html" %} |
  <a href="../../">{{ day|date:"Y" }}</a> | <a href="../">{{ day|date:"N" }}</a> | {{ day|date:"j" }}
</div>

<h1>Articles for {{ day|date:"l, N j, Y" }}</h1>
{% for article in object_list %}
  <div class="article-list-release-date">{{ article.release_date|date:"P" }}</div>
  <div class="article-list-item">
    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    {{ article.teaser|truncatewords_html:"18"|safe }}
    <p><a class="more-link" href="{{ article.get_absolute_url }}">read more</a></p>
  </div>
{% endfor %}
{% endblock %}
